<div class="content" style="background-color: #FAFAFA;margin-top: 0px;padding-top: 50px;">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12 col-12" style="padding-bottom: 30px">
        <div class="card">
          <form class="form-horizontal">
            <div class="card-content">
              <div class="row" style="height: 40px"></div>
              <div class="row" style="font-weight: bold;font-size: 16px;padding-left: 15px">
                <div class="col-sm-12" style="padding-top: 17%;padding-bottom: 17%"><span style="position:absolute;left: 50%;transform: translateX(-50%);font-size: 50px;color: #034C8D">Competition Over</span></div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <footer class="footer" style="padding: 0px">
        <div class="container" style="margin-right: 0px">
          <p class="copyright pull-right">
            Copyright &copy; 2018 - University Of Sri Jayewardenapura / Department Of Computer Science
          </p>
        </div>
      </footer>
    </div>
  </div>
</div>
